@import "../vars.css";


*{
  margin:0;
  padding: 0;
}
body{
  font-family: Verdana, Arial, sans-serif;
  background-color: var(--bg1);
}
/*Modifica textul de tip titlu a paginii */
h1{
  padding-left: 10px;
  color:var(--white);
  text-decoration:none;
  font-size:24px;
}
/*Modifica textul de sub poze */
p{

  padding-left: 15px;
  padding-right: 15px;
  color: var(--white);
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  text-align: center;
}


/*Nav*/



nav {
  background-color: var(--bg1);
  height:150px;
  width:100%;
}
/* Modifica logo-ul */
nav .logo{
  line-height: 1600px;
  width: 150px;
  padding: 0 0 0 100px;
  transition: all .75s ease;
}
/*Modifica glow ul de la logo */
nav .logo:hover{
  filter: drop-shadow(0 0 5px var(--glow));
}
/*Modifica alinierea tab ului */
nav ul{
  float: right;
  margin:0px 25px 0px 0px;
}
nav ul li{
  display: inline-block;
  line-height: 150px;
  margin:0 45px;
  transition:all .75s ease;
}
/*Modifica Textul de la tab*/
nav ul li a, a:visited{
  color:var(--white);
  font-size: 15px;
  /*text-transform: uppercase;*/
  border-radius: 5px;
  text-decoration: none;
  transition:all .75s ease;
}
nav li:not(li.selected) a:hover{
  filter: drop-shadow(0 0 5px var(--glow));
}
nav .checkbtn{
  font-size: 40px;
  color: var(--white);
  float:right;
  line-height: 150px;
  margin-right: 25px;
  cursor: pointer;
  display: none;
  transition: all .5s ease;
}
#check{
  display: none;
}
@media (max-width: 1250px){
  nav ul li{
    margin:0 45px;
  }
}
@media (max-width: 952px){
  nav .logo{
    padding: 0 0 0 50px;
  }
  nav ul li a, a:visited{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  nav{
    position: relative;
  }
  nav .checkbtn{
    display: block;
  }
  nav ul{
    z-index: 1;
    position: absolute;
    width:100%;
    top:150px;
    left: -105%;
    text-align: center;
    transition: all .5s;
    backdrop-filter: blur(5px);
    background-color: var(--transparent1);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,.5);
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,.5);
    box-shadow: 4px 6px 15px rgba(0,0,0,.25);
    clip-path: inset(0px -15px -15px 0px);
  }
  nav ul li{
    display: block;
    margin:50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background:none;
  }
  #check:checked ~ ul{
    left:0;
  }
  #check:checked ~ .checkbtn{
    filter: drop-shadow(0 0 5px var(--glow));
    z-index: 2;
  }
}